:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* START - header and header items */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-image: url('../images/fernand-de-canne-Unl-fQ1_P5Q-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 44%;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  padding-top: 10px;
}

header a {
  /*text-decoration: none;*/
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  list-style-type: none;
}

header nav ul > * {
  margin: 1em 0;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight:lighter;
  font-size:large;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* END - header and header items */

/* START - hero and hero items */
.hero {
  background-image: url('../images/fernand-de-canne-Unl-fQ1_P5Q-unsplash.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 44%;
  background-repeat: no-repeat;
  height: 600px;
}

.hero h1 {
  justify-content:center;
  padding: 20px;
}
/* END - hero and hero items */

/* START - flexbox "About Me" items */
.flex-about {
  display: flex;
}

.flex-about-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  max-width: 300px;
  background-color: rgba(252,225,56, 0.25);
}

.flex-about-left h2 {
  padding-top: 10px;
  text-align: right;
  padding-right: 10px; /* added */
}

.flex-about-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.25);
  margin: 10px;
  padding: 10px;
}

.flex-about-right p {
  color: black;
}
/* END - flexbox "About Me" items */

/* START - flexbox "Projects" items */
.flex-projects {
  display: flex;
  justify-content: left; 
}

.flex-projects-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  max-width: 300px;
  background-color: rgba(252,225,56, 0.25);
}

.flex-projects-left h2 {
  padding-top: 10px;
  text-align: right;
  padding-right: 10px; /* added */
}


.flex-projects-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.25);
  margin: 10px;
  padding: 10px;
}

.flex-projects-right h4 {
  padding-left: 10px;
}

.flex-projects-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:stretch;
  align-content: space-between;
  list-style-type: none;
}

.flex-projects-right ul li a img {
  max-width: 100%;
  padding-left: 10px;
  height: auto;
}

.flex-projects-right ul > * {
   margin: 1em 0;
}
/* END - flexbox "Projects" items */

/* START - flexbox "Contact" items */
.flex-contact {
  display: flex;
  justify-content: left; 
}

.flex-contact-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  max-width: 300px;
  background-color: rgba(252,225,56, 0.25);
}

.flex-contact-left h2 {
  padding-top: 10px;
  text-align: right;
  padding-right: 10px; /* added */
}

.flex-contact-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.25);
  margin: 10px;
  padding: 10px;
  color: black;
}

.flex-contact-right ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.flex-contact-right ul p {
  padding-right: 20px;
}

footer {
  padding: 20px 35px;
  background-color: rgb(54, 31, 31);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
}
/* END - flexbox "Contact" items */

/* START - media queries to make site responsive to cell phones */
@media screen and (max-width: 575px) {
  header {
    justify-content: center;
  }

  header h1 {
    padding-bottom: 5px;
  }

  header nav {
    align-items:center;
    padding-bottom: 0px;
  }

  .hero h1 {
    justify-content:center;
    padding: 200px 20px;
  }
}

@media screen and (max-width: 360px) {
  header nav ul > * {
    margin: 0.5em 0;
  }

  .flex-about-left h2 {
    padding-right: 5px;
  }

  .flex-projects-left h2 {
    padding-right: 5px;
  }

  .flex-contact-left h2 {
    padding-right: 5px;
  }
}

/* END - media queries to make site responsive to cell phones */