:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: rgb(54, 31, 31);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  justify-content:center;
  align-items:center;
  list-style: none;
}

header nav ul > * {
  margin: 1em 0;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight:lighter;
  font-size:large;
  /*font-size: 1.55vw;*/
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

.hero {
  display: flex;
  background-image: url('../images/fernand-de-canne-Unl-fQ1_P5Q-unsplash.jpg');
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  height: 1200px;
  background-attachment:scroll;
  background-position: 44%;
}

.hero h1 {
  justify-content:center;
  padding: 20px;
}

/*.section-title {
  font-size: 48px;
  border-right: 3px solid;
  color: var(--secondary-color);
  padding-right: 20px;
  padding-top: 100px;
  text-align: left;
  margin: 0 auto 35px auto;
  width: 20%;
}

.primary-border {
  border-color: var(--primary-color);
  right: auto;
}

.secondary-border {
  border-color: var(--tertiary-color);
}*/

.flex-about {
  display: flex;
}

.flex-about-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  background-color: rgba(252,225,56, 0.50);
  border-bottom: 6px solid var(--secondary-color);
}

.flex-about-left h2 {
  padding-top: 10px;
  text-align: center;
}

.flex-about-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.50);
  margin: 10px;
  padding: 10px;
}

.flex-about-right p {
  color: black;
}

.flex-projects {
  display: flex;
  justify-content: left; 
}

.flex-projects-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  background-color: rgba(252,225,56, 0.50);
  border-bottom: 6px solid var(--secondary-color);
}

.flex-projects-left h2 {
  padding-top: 10px;
  text-align: center;
}

.flex-projects-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.50);
  margin: 10px;
  padding: 10px;
}

.flex-resume {
  display: flex;
  justify-content: left; 
}

.flex-resume-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  background-color: rgba(252,225,56, 0.50);
  border-bottom: 6px solid var(--secondary-color);
}

.flex-resume-left h2 {
  padding-top: 10px;
  text-align: center;
}

.flex-resume-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.50);
  margin: 10px;
  padding: 10px;
}

.flex-contact {
  display: flex;
  justify-content: left; 
}

.flex-contact-left {
  flex: 1;
  color: var(--tertiary-color);
  border-right: 6px solid var(--secondary-color);
  margin-right: 10px;
  background-color: rgba(252,225,56, 0.50);
  /*border-bottom: 6px solid var(--secondary-color);*/
}

.flex-contact-left h2 {
  padding-top: 10px;
  text-align: center;
}

.flex-contact-right {
  flex: 2;
  border-radius: 6px;
  background-color: rgba(252,225,56, 0.50);
  margin: 10px;
  padding: 10px;
  color: black;
}

footer {
  padding: 20px 35px;
  background-color: rgb(54, 31, 31);;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
}